import os
import shutil
from git import Repo
from rag.index import build_index

REPO_DIR = "repo"

def load_github_repo(url):
    if os.path.exists(REPO_DIR):
        shutil.rmtree(REPO_DIR)
    Repo.clone_from(url, REPO_DIR)
    build_index(REPO_DIR)
